@import "../base/settings";

#home {
  background-image: url("../../../public/assets/img/home-background.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    background-color: rgba(0, 0, 0, 0.5);
    padding-inline: 2rem;
    padding-block-start: 2rem;
    height: 90%;
    // width: 40%;
    border-radius: 10px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 8rem;
    aspect-ratio: 1;
    justify-self: center;
    margin-top: $lg;
  }
  h1 {
    text-align: center;
    color: $off-white;
    font-size: $lg;
    margin-top: 0;
  }
  li {
    list-style: none;
  }
  .play-button-container {
    text-align: center;
    width: 100%;
    display: flex;
    ul {
      padding: 0;
    }
  }
  a.play-button {
    text-decoration: none;
    background-color: $green;
    padding-inline: $xxlg;
    padding-block: $xs;
    border-radius: $md;
    cursor: pointer;
    color: $off-white;
    font-size: $sm;
    font-weight: 700;
  }
  .auth-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: center;
  }

  #login-button {
    background-color: red;
    border-radius: 10px;
    padding-inline: $xs;
  }
  #signup-button {
    background-color: yellow;
    border-radius: 10px;
    padding-inline: $xs;
  }
  .auth-container .auth-buttons {
    color: $off-white;
    text-decoration: none;
    padding: $normal;
    font-size: $sm;
    cursor: pointer;
  }
}
